//
// Override global variables
//
/*

#f9a563 p1
#f37564 p2

#023a6c info
#4e96cc secondary

#bfcad7 background
#333333 dark


*/



// Theme colors
//$primary: #fd6c35/*#1BC5BD*/;
//$primary-hover: #fc581b;
//$primary-light: #e7e3fc;
//$primary-inverse:  									#FFFFFF;

//$info: #6993ff;
//$info-light: #e1e9ff;
//$info-hover:    									#4A7DFF;
//$info-inverse:  									#FFFFFF;

//$success: #3a2588;
//$success-hover:    									#1f1547;
//$success-light: #cec6f1;
//$success-inverse:  									#FFFFFF;

$secondary: #3a2588;
$secondary-hover:    									#1f1547;
$secondary-light: #cec6f1;
$secondary-inverse:  									#FFFFFF;
